<body style = "background-color: #E3E5E4">
<h1 class='text-center'> Subjects </h1>
<table>                         
  <tr>                          
    <th th id="th1" style="width: 150px;"><u>Name </u></th>
    <th th id="th1" style="width: 150px;"><u>Abbreviation </u></th>
    <th th id="th1" style="width: 150px;"><u>Identification </u></th>
    <th th id="th1" style="width: 150px;"><u>Segments</u></th>
  </tr>
  <% @subjects.each do |data| %>      
  <tr>
    <td><%= data.name %></td>  
    <td><%= data.abbreviation[0...3] %></td> 
    <td><%= data.identification %></td> 
    <td><%= data.segments%></td>  
  </tr>
  <% end %>                        
</table>
<body>

