<p id="notice"><%= notice %></p>

<h1><%%>which ever name is of the class </h1>

<p> would you like to enroll? if not use the click the back button </p>

<button type="button"><a href="/">Enroll!</a></button>
<button type="button"><a href="/searches">Return to Search!</a></button>
