
   <pre style="background-color: #DADFFE">    

,--.   ,--.       ,--.                                    ,--.              ,-----.,--.                              ,-.   
|  |   |  | ,---. |  | ,---. ,---. ,--,--,--. ,---.     ,-'  '-. ,---.     '  .--./|  | ,--,--. ,---.  ,---.     .--.'. \  
|  |.'.|  || .-. :|  || .--'| .-. ||        || .-. :    '-.  .-'| .-. |    |  |    |  |' ,-.  |(  .-' (  .-'     '--' |  | 
|   ,'.   |\   --.|  |\ `--.' '-' '|  |  |  |\   --.      |  |  ' '-' '    '  '--'\|  |\ '-'  |.-'  `).-'  `)    .--. |  | 
'--'   '--' `----'`--' `---' `---' `--`--`--' `----'      `--'   `---'      `-----'`--' `--`--'`----' `----'     '--'.' /  
                                                                                                                      `-' 

    </pre>

    
<h1 class='text-center'> Welcome to Pito School Homepage <%@user%></h1>

<div class ="d-flex align-items-center justify-content-center"
    <p> your current enrolled courses are: </p>
</div>


